* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat";
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: hsl(234, 14%, 74%);
  gap: 30px;
}

.second-content {
  display: flex;
  flex-direction: row;
}

h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #d6eeee;
  cursor: pointer;
}

th {
  font-size: 40px;
}
tr {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.middle {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.price-category {
  background-color: hsl(240, 78%, 98%);
  border-radius: 5px;
}

button {
  background-color: hsl(237, 63%, 64%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  margin-left: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
}

#btn-color {
  display: flex;
  background-color: white;
}
a {
  display: flex;
  text-align: center;
  color: white;
  text-decoration: none;
}

#a-color {
  color: hsl(232, 13%, 33%);
}
input {
  -webkit-appearance: none;
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 20px;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  transition: 0.5s;
  outline: none;
  cursor: pointer;
  /* margin-top: 5px; */
}

input::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 45px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.6rem;
  width: 1.7rem;
  background-color: white;
  transition: left 0.3s;
}

input:checked {
  background-color: aqua;
}

input:checked::after {
  left: 15px;
}

.toggle {
  display: flex;
  text-align: center;
  gap: 15px;
  margin-top: 20px;
}
